<nav class="navbar navbar-b navbar-trans navbar-expand-md">
    <div class="container">
      <a href="/"><span class="navbar-brand mb-0 h1">Twitch Notifier</span></a>
      <span class="my-2 my-lg-0">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="/top">Top 10</a>
          </li>
        </ul>
      </span>
    </div>
  </nav>
