SITE_URL=https://local.site.ru
PORT=3000

SENTRY_DSN=

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TELEGRAM_BOT_TOKEN=

TYPEORM_CONNECTION=postgres
TYPEORM_HOST=
TYPEORM_PORT=5432
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=

### Do not change everything below

TYPEORM_ENTITIES=dist/entities/*.js
TYPEORM_MIGRATIONS=dist/migrations/*.js
TYPEORM_SUBSCRIBERS=dist/entity/*.js

TYPEORM_ENTITIES_DIR=src/entities
TYPEORM_MIGRATIONS_DIR=src/migrations
TYPEORM_SUBSCRIBERS_DIR=src/entities
