# Secrets (use wrangler secret put)
APP_ENV = "development"
BASE_URL = "http://localhost:8787"
TELEGRAM_TOKEN = ""
TWITCH_CLIENT_ID = ""
TWITCH_CLIENT_SECRET = ""
TELEGRAM_BOT_ADMINS = "comma-separated user IDs"
TWITCH_EVENTSUB_SECRET = "for webhook verification"

# BOT INFO FOR SKIP /me REQUEST ON EACH REQUEST
BOT_INFO = """{"id": 1234567890,"is_bot": true,"first_name": "mybot","username": "MyBot","can_join_groups": true,"can_read_all_group_messages": false,"supports_inline_queries": true,"can_connect_to_business": false}"""
