module.exports = { 
  vk: {
    token: process.env.VKTOKEN
  },
  telegram: {
    token: process.env.TGTOKEN
  },
  twitch: {
    clientId: process.env.TWITCH_CLIENTID
  },
  panel: {
    port: process.env.PANEL_PORT || 3000
  }
}