version: "3.2"

services:
  notifier:
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    volumes:
      - .:/app
      #- ./node_modules:/app/node_modules # Remove this if you have pure JS dependencies
      - ./.env:/app/.env
    env_file:
      - .env
    ports:
      - 3000:3000
      - 9229:9229
    depends_on:
      - postgres
    tty: true

  postgres:
    image: postgres:13
    restart: always
    command: postgres -c shared_preload_libraries=pg_stat_statements -c pg_stat_statements.track=all
    environment:
      POSTGRES_USER: notifier
      POSTGRES_PASSWORD: notifier
      POSTGRES_DB: notifier
    logging:
      driver: none

  adminer:
    image: adminer
    ports:
      - 30002:8080