version: "3.8"

services:
  twitch-notifier:
    image: quay.io/satont/twitch-notifier
    restart: always
    env_file:
      - ./.env

	db:
    image: postgres:15
    restart: always
    command: postgres -c shared_preload_libraries=pg_stat_statements -c pg_stat_statements.track=all
    environment:
      POSTGRES_USER: notifier
      POSTGRES_PASSWORD: notifier
      POSTGRES_DB: notifier

	adminer:
		image: adminer
		restart: always
		ports:
      - "54324:8080"
