<div class="container">
  <div class="home">
    <h1 class="mb-4">Twitch Live Notifications</h1>
    <span class="icon-link"><a target="_blank" href="https://t.me/TwiNotifyBot"><i class="fab fa-telegram-plane fa-2x"></i></a></span>
  </div>
  <div class="justify-content-center stats">
    <div class="d-inline" >
      <i class="fas fa-users"></i> {{ chats }} Users
    </div>
    <div class="d-inline">
      <i class="fas fa-video"></i> {{ channels }} Streamers
    </div>
  </div>
</div>
