<div class="container">
  <div class="row justify-content-md-center">
      <h1>Top 10 channels users are watching</h1>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-sm d-flex flex-wrap justify-content-center">
      {{#each list}}
      <div class="media text-center viewers-block">
        <img src="{{ profile_image_url }}" style="width:50px;" class="mr-3" alt="...">
        <div class="media-body">
        <h5 class="mt-0">{{ display_name }}</h5>
          Watchers: {{ count }}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
